.sidebar-widget__button{
    width: 270px;
    height: 50px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #232323;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-widget__button:hover{
    cursor: pointer;
}